@import url(http://fonts.googleapis.com/css?family=Oswald);
/*font-family: 'Oswald', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Lato);
/*font-family: 'Lato', sans-serif;*/

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*is the vertical height of the page correct and adjusting correctly?*/
/* Marifel: Don't set a height whenever possible. They're difficult to work with.
Since we're just learning CSS, avoid setting heights.  The only exception for
this project is to use a set height on the plus, Facebook, and Instagram icons. */
body {
    /*height: 100%;*/

    /* Marifel:  */
}

/*HEADER*/

/*what a hot mess!!*/

#header {
    text-align: center;

    /* Marifel: Set the background-image in #header .header_bar, not here */
    /*background-image: url("/images/header_bg.svg");*/

    /*vertical-align: center;*/
    /*position: relative;*/
    width: 100%;
    /*might not be a good idea*/
    /*height: 50px;  */
    background-repeat: no-repeat;
    display: block;
    /*height: 10%;*/
}

#header .header_bar {
    display: block;

    /* Marifel: Don't set the height */
    /*height: 70%;*/

    /* Marifel: Set the actual logo as an img element in the HTML */
    /*background-image: url("/images/logo.svg");*/

    background-repeat: no-repeat;

    /* Marifel: Added the background-image from #header here */
    background-image: url("/images/header_bg.svg");
    /* Marifel: Centered the background-image */
    background-position: center;
}

#header .header_bar #h1-logo {
    margin: auto;
}

#header .header_bar #h1-logo span {
    display: none;
}

/*this button moves strangely with width variations, square when window very wide, but narrow otherwise*/
/*need to find a way to not use height and width*/
/* Marifel: Actually, using height and width here is recommended. */
#header .header_bar #plus_button {
    border: 2px solid #FF0000;
    /*border-radius: 5px;*/ /* Removed */
    color: red;
    /*text-align: center;*/
    /*margin-top: 8px;*/
    /*margin-right: 50px;*/
    /*width: 1.5%;*/
    /*height: 50%;*/
    /*font-weight: bold;*/
    /*position: relative;*/
    /*float: right;*/

    /* Marifel's changes: */
    /*
    - Add a set width and height in pixels, not percentages.  This is because
    no matter how the page is resized, we want the icon to remain the same size.

    - The Fastenate logo is pushed slightly to the left in the default flow
    (position: relative).  So we need to set the position to absolute
    and remove the float.

    - Now that position is absolute, the #plus_button and its contents are
    removed from the natural flow of the page.  You can set it anywhere relative
    to browser window size.  Since we want the plus icon in the top right-hand
    corner, top 15 (pixels from the top of page) and right 15 (pixels from right
    of page) should be set.  (Note: I removed the margins set above.)

    - Increase the font-size of the plus itself.

    - Remove the underline.

    - Set the vertical positioning of the plus using line-height.  Be sure that
    line-height is smaller than font-size.
    */
    width: 26px;
    height: 26px;
    position: absolute;
    float: none; /* No need to set to none if you remove float: right from above */
    top: 16px;
    right: 16px;
    font-size: 32px;
    text-decoration: none;
    line-height: 22px;
    /* Now you just need to set the right border and color */
}

#header .header_bar #plus_button a:link {
    color: #FF0000; text-decoration: none;
}

#header .header_bar #plus_button a:active {
    color: #FF0000; text-decoration: none;
}

#header .header_bar #plus_button a:visited {
    color: #FF0000; text-decoration: none;
}

#header .header_bar #plus_button a:hover {
    color: #FF0000; text-decoration: none;
}


/*NAVIGATION*/

#header #nav_bar {
    display: block;
    height: 30%;
    background-color: black;
    color: red;
}

#header #nav_items {
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    padding: 10px 0px;
}

#header #nav_items>li {
    display: inline-block;
    margin-right: 20px;
    list-style-type: circle;  /*cannot get dots*/
    opacity: 0.6;
    font-size: 20px;
}



/*SECTION*/

/* Marifel: START suggested properties to apply to these items */

/*#contents_section {
    background-image: url('/images/bg.jpg');
    padding: 25px 0;
}

#contents_section #items {
    // No need extra #items div
}

#contents_section #items .item_content {
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    max-width: 50%;
}

#contents_section #items .item_content .item_image {
    float: left;
    width: 25%;
}

#contents_section #items .item_content .item_list {
    float: right;
    width: 75%;
}

#contents_section #items .item_content .item_image img {
    width: 100%;
    height: auto;
}*/

/* Marifel: END suggested properties to apply to these items */


#contents_section {
    background-image: url('/images/bg.jpg');
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
}

/*Content Items*/

#contents_section #items {
    display: block;
    max-width: 75%;
    margin: auto;
}

#contents_section #items .item_content {
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    margin: 10px 0px;
    font-family: 'Lato', sans-serif;
}

#contents_section #items .item_content .item_image {
    /*background-color: pink;*/
    display: block;
    float:left;
    width: 20%;
    box-sizing: border-box;
}

/*cannot get images to work from here, they disappear, so had to do img in html markup*/
/* Marifel: That's fine, you can use img tags for the images since they are
actually part of the content and not just for decoration. */
#contents_section #items .item_content .item_image li img {
    width: 150px;
    height: 120px;
    /*background-image: url("http://placehold.it/150x120");*/
}

/* when uncommented, all goes south! */

/*#contents_section #items .item_content .item_list {
    background-color: purple;
    display: block;
    float: right;
    width: 80%;
    box-sizing: border-box;
}*/

/* END here */

#contents_section #items .item_content .item_list .item_heading {
    font-size: 20px;
    font-weight: bold;
}

#contents_section #items .item_content .item_list .item_status {
    border: 1px solid red;
    display: inline-block;
    padding-right: 20px;
    font-size: 15px;
    opacity: 0.5;
    /* don't know how to get the circles back, this does not work */
    /*list-style-type: circle;*/
    /* Marifel: For the circles between the text, you can just have another
    li item with the following text inside: &middot; */
}

#contents_section #items .item_content .item_list .item_detail {
    font-size: 15px;
    padding-top: 30px;
}

/*FOOTER*/

footer {  /*cannot get images to work from here, they disappear, so had to do img in html markup*/
    /* Marifel: I'll show you how add the footer icons later using background-image */
    /*color: white;*/
    /*opacity: 0.6;*/
    height: 70px;  /*may need to remove*/
    text-align: center;
    background-color: black;
    /*background-image: url("/images/facebook_grey.svg");*/
    /*background-image: url("/images/instagram_grey.svg");*/
    /*background-repeat: no-repeat;*/
    display: block;
}

footer img {
    margin-top: 20px;
}