@import url(http://fonts.googleapis.com/css?family=Oswald);
/*font-family: 'Oswald', sans-serif;*/
@import url(http://fonts.googleapis.com/css?family=Lato);
/*font-family: 'Lato', sans-serif;*/

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*HEADER*/

#header {
    text-align: center;
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
}

#header #header_bar {
    /*border: 1px solid blue;*/
    background-image: url("/images/header_bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin: auto;
}

#header #header_bar #h1_logo {
    /*background-image: url("/images/logo.svg");*/
}

/*#header #header_bar #h1_logo span {*/
    /*border: 2px solid red;*/
/*    visible: hidden;
}*/

#header #header_bar #plus_button {
    /*border: 2px solid #FF0000;*/
    border: 2px solid #FF0000;
    color: red;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 32px;
    text-decoration: none;
    line-height: 22px;
    border-radius: 4px;
}


/*The following maintains the button color through hover and clicks*/

#header #header_bar #plus_button a:link {
    /*color: #FF0000; */
    text-decoration: none;
}

#header #header_bar #plus_button a:active {
    /*color: #FF0000; */
    text-decoration: none;
}

#header #header_bar #plus_button a:visited {
    /*color: #FF0000; */
    text-decoration: none;
}

#header #header_bar #plus_button a:hover {
    /*color: #FF0000; */
    text-decoration: none;
}


/*NAVIGATION*/

#header #nav_bar {
    display: block;
    opacity: 0.8;
    background-color: black;
    position: fixed;
    width: 100%;
}

#header #nav_bar #nav_items {
    padding: 10px 0px;
}

/*bg.jpg color instead of white text*/
#header #nav_bar #nav_items li {
    display: inline-block;
    margin-right: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
}

#header #nav_bar #nav_items li a {
    text-decoration: none;
}

#header #nav_bar #nav_items li a:link {
    color: gray; 
    text-decoration: none;
}

#header #nav_bar #nav_items li a:active {
    /*color: #FF0000; */
    text-decoration: none;
}

#header #nav_bar #nav_items li a:visited {
    color: gray; 
    text-decoration: none;
}

#header #nav_bar #nav_items li a:hover {
    /*color: #FF0000; */
    text-decoration: none;
}

/*SECTION*/

#contents_section {
    background-image: url('/images/bg.jpg');
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 50px;
}

/*Content Items*/

#contents_section #items {
    max-width: 60%;
    display: block;
    margin: auto;
}

#contents_section #items .item_content {
    /*border: 1px solid black;*/
    padding: 10px;
    background-color: white;
    margin: 10px 0px;
    font-family: 'Lato', sans-serif;
}

#contents_section #items .item_content .item_image {
    /*background-color: pink;*/
    display: block;
    float:left;
    width: 25%;
    box-sizing: border-box;
}

#contents_section #items .item_content .item_image img {
    max-width: 100%;  /*keeps text from overlapping image when reducing window size*/
}

#contents_section #items .item_content .item_list {
    /*background-color: purple;*/
    padding-left: 5px;
    display: block;
    float: right;
    width: 75%;
    opacity: 0.8;
    box-sizing: border-box;
}

#contents_section #items .item_content .item_list .item_heading {
    font-size: 15px;
    font-weight: bold;
}

#contents_section #items .item_content .item_list .item_status {
    /*border: 1px solid red;*/
    display: inline;
    /*width: auto;*/
    font-size: 10px;
    opacity: 0.5;
}

#contents_section #items .item_content .item_list .middot {
    display: inline;
    font-size: 20px;
    opacity: 0.5;
}

#contents_section #items .item_content .item_list .item_detail {
    font-size: 10px;
    padding-top: 15px;
}

#items {
    background-color: silver;
    margin: auto;
}

.table {

}

thead tr {

}

td {
    border: 2px solid black;
    padding-right: 53px;
}



/*FOOTER*/

footer {  /*cannot get images to work from here, they disappear, so had to do img in html markup */
    opacity: 0.8;
    text-align: center;
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

footer img {
    margin: 10px 0px;
}


/*MEDIA QUERIES*/

/*may combine tablets and desktop*/

/* MOBILE ONLY */
@media only screen and (max-width: 480px){
}

/* TABLET ONLY */
@media only screen and (min-width: 481px) and (max-width: 768px){
}

/* DESKTOP ONLY */
@media only screen and (min-width: 769px){
}